<div class="row mt-5">
  <div class="col col-login mx-auto mt-5">
    <!-- <div class="text-center mb-2">
      <img src="./assets/img/logo_vt_full.svg" class="logo" alt="logo">
    </div> -->
    <div class="text-center mb-2">
      <h1 i18n="@@forgotPasswordTitle">Forgot your password?</h1>
      <p i18n="@@enterEmailSubTitle" class="lead">Enter your email address and we'll get you back on track</p>
    </div>
    <h3></h3>
    <form name="form" #f="ngForm" class="card" (ngSubmit)="f.form.valid && onSend()" novalidate>
      <div class="card-body p-6">
        <div class="form-group">
          <label i18n="@@usernameLabel" for="name">Username</label>
          <input type="email" name="name" class="form-control" id="name" required email
            i18n-placeholder="@@usernamePlaceholder" placeholder="Username" #u="ngModel" [(ngModel)]="username"
            [ngClass]="{ 'is-invalid': f.submitted && u.invalid }">
          <div class="invalid-feedback" *ngIf="f.submitted && u.invalid">
            <div i18n="@@requiredError" *ngIf="u.errors.required"> Required</div>
            <div i18n="@@usernameFormatError" *ngIf="u.errors.email"> Username must be a valid email</div>
          </div>
        </div>

        <div class="form-footer">
          <button i18n="@@resetPassword" type="submit" class="btn btn-block btn-primary">
            Send
          </button>
        </div>

      </div>
    </form>

    <div class="text-center m-4">
      <a i18n="@@login" [routerLink]="['/login']">Login</a>
    </div>

    <div class="text-center text-muted">
      Copyright © 2019 Virginia Transformer Corp.
    </div>
  </div>
</div>
