<!DOCTYPE html>
<html>

<head>
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td,
    th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #f5f5f5;
    }
  </style>
</head>

<body>

<h1>Weekly Report</h1>
<p>Expired Company, The Boring Company</p>
<p>From 2019-12-1 to 2019-12-14 </p>
<h2>Summary</h2>
<p>Total: 12</p>
<p>Warnings: 5</p>
<p>Danger: 7</p>

<h2>Transformers</h2>

<h3>Power Plan | RE34X | White Valley</h3>
<table>
  <thead>
    <th>Timestamp</th>
    <th>Pressure</th>
    <th>Level</th>
    <th>Oil</th>
    <th>Winding</th>
    <th>Ambient</th>
    <th>SPR</th>
    <th>PRD</th>
    <th>Status</th>
  </thead>
  <tbody>
    <tr>
      <td>2019-12-14 18:36</td>
      <td>10 psi</td>
      <td>62 in</td>
      <td>72 ºC</td>
      <td>212 ºC</td>
      <td>96 ºC</td>
      <td>0</td>
      <td>0</td>
      <td>Danger</td>
    </tr>
    <tr>
      <td>2019-12-14 18:36</td>
      <td>10 psi</td>
      <td>62 in</td>
      <td>72 ºC</td>
      <td>212 ºC</td>
      <td>96 ºC</td>
      <td>0</td>
      <td>0</td>
      <td>Danger</td>
    </tr>
    <tr>
      <td>2019-12-14 18:36</td>
      <td>10 psi</td>
      <td>62 in</td>
      <td>72 ºC</td>
      <td>212 ºC</td>
      <td>96 ºC</td>
      <td>0</td>
      <td>0</td>
      <td>Danger</td>
    </tr>
    <tr>
      <td>2019-12-14 18:36</td>
      <td>10 psi</td>
      <td>62 in</td>
      <td>72 ºC</td>
      <td>212 ºC</td>
      <td>96 ºC</td>
      <td>0</td>
      <td>0</td>
      <td>Warnign</td>
    </tr>

    
  </tbody>
</table>

<h3>Grang Lee Xsd. 10.235 MW | 4530223 | Bellflower Ca</h3>
<table>
  <thead>
    <th>Timestamp</th>
    <th>Pressure</th>
    <th>Level</th>
    <th>Oil</th>
    <th>Winding</th>
    <th>Ambient</th>
    <th>SPR</th>
    <th>PRD</th>
    <th>Status</th>
  </thead>
  <tbody>
    <tr>
      <td>2019-12-14 18:36</td>
      <td>10 psi</td>
      <td>62 in</td>
      <td>72 ºC</td>
      <td>212 ºC</td>
      <td>96 ºC</td>
      <td>0</td>
      <td>0</td>
      <td>Danger</td>
    </tr>
    <tr>
      <td>2019-12-14 18:36</td>
      <td>10 psi</td>
      <td>62 in</td>
      <td>72 ºC</td>
      <td>212 ºC</td>
      <td>96 ºC</td>
      <td>0</td>
      <td>0</td>
      <td>Danger</td>
    </tr>
    <tr>
      <td>2019-12-14 18:36</td>
      <td>10 psi</td>
      <td>62 in</td>
      <td>72 ºC</td>
      <td>212 ºC</td>
      <td>96 ºC</td>
      <td>0</td>
      <td>0</td>
      <td>Warnign</td>
    </tr>
    <tr>
      <td>2019-12-14 18:36</td>
      <td>10 psi</td>
      <td>62 in</td>
      <td>72 ºC</td>
      <td>212 ºC</td>
      <td>96 ºC</td>
      <td>0</td>
      <td>0</td>
      <td>Warnign</td>
    </tr>

    
  </tbody>
</table>


<h3>Xiluodu. | JBE3344XL |	Brown Valley Ranc</h3>
<table>
  <thead>
    <th>Timestamp</th>
    <th>Pressure</th>
    <th>Level</th>
    <th>Oil</th>
    <th>Winding</th>
    <th>Ambient</th>
    <th>SPR</th>
    <th>PRD</th>
    <th>Status</th>
  </thead>
  <tbody>
    <tr>
      <td>2019-12-14 18:36</td>
      <td>10 psi</td>
      <td>62 in</td>
      <td>72 ºC</td>
      <td>212 ºC</td>
      <td>96 ºC</td>
      <td>0</td>
      <td>0</td>
      <td>Danger</td>
    </tr>
    <tr>
      <td>2019-12-14 18:36</td>
      <td>10 psi</td>
      <td>62 in</td>
      <td>72 ºC</td>
      <td>212 ºC</td>
      <td>96 ºC</td>
      <td>0</td>
      <td>0</td>
      <td>Danger</td>
    </tr>
    <tr>
      <td>2019-12-14 18:36</td>
      <td>10 psi</td>
      <td>62 in</td>
      <td>72 ºC</td>
      <td>212 ºC</td>
      <td>96 ºC</td>
      <td>0</td>
      <td>0</td>
      <td>Warnign</td>
    </tr>
    <tr>
      <td>2019-12-14 18:36</td>
      <td>10 psi</td>
      <td>62 in</td>
      <td>72 ºC</td>
      <td>212 ºC</td>
      <td>96 ºC</td>
      <td>0</td>
      <td>0</td>
      <td>Warnign</td>
    </tr>

    
  </tbody>
</table>

</body>

</html>