<div class="container">

  <div class="page-header">
    <h1 class="page-title ">
      <a href="#" [routerLink]="['/my-account']" class="mr-3">
        <i class="fa fa-chevron-left"></i>
      </a>
      <span i18n="@@account">Account</span>
    </h1>
  </div>

  <div>
    <form *ngIf="account" name="form" #f="ngForm" (ngSubmit)="f.form.valid && save()" novalidate>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label class="form-label" for="name" i18n="@@name*">Name
            </label>
            <input type="text" class="form-control" [(ngModel)]="account.name" name="name" i18n-placeholder="@@name"
              placeholder="Name" disabled>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label class="form-label" for="company" i18n="@@company*">Company
              <span class="form-required">*</span>
            </label>
            <input type="text" class="form-control" [(ngModel)]="account.company" name="company"
              i18n-placeholder="@@company" placeholder="Company" required #company="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && company.invalid }">
            <div class="invalid-feedback" *ngIf="f.submitted && company.invalid">
              <div *ngIf="company.errors.required" i18n="@@requiredError">Required</div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label class="form-label" for="sector" i18n="@@sector*">Sector
              <span class="form-required">*</span>
            </label>
            <input type="text" class="form-control" [(ngModel)]="account.sector" name="sector"
              i18n-placeholder="@@sector" placeholder="Sector" required #sector="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && sector.invalid }">
            <div class="invalid-feedback" *ngIf="f.submitted && sector.invalid">
              <div *ngIf="sector.errors.required" i18n="@@requiredError">Required</div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label class="form-label" for="country" i18n="@@country*">Country
              <span class="form-required">*</span>
            </label>
            <p-dropdown [options]="countries" (onChange)="onChangeCountry()" [(ngModel)]="account.country"
              [filter]="true" name="country" i18n-placeholder="@@country" placeholder="Country" #country="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && country.invalid }">
            </p-dropdown>
            <div class="invalid-feedback" *ngIf="f.submitted && country.invalid">
              <div *ngIf="country.errors.required" i18n="@@requiredError">Required</div>

            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label class="form-label" for="state" i18n="@@state*">State
              <span class="form-required">*</span>
            </label>
            <p-dropdown [options]="states" (onChange)="onChangeState()" [(ngModel)]="account.state" [filter]="true"
              name="state" i18n-placeholder="@@state" placeholder="State" required #state="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && state.invalid }">
            </p-dropdown>
            <div class="invalid-feedback" *ngIf="f.submitted && state.invalid">
              <div *ngIf="state.errors.required" i18n="@@requiredError">Required</div>

            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label class="form-label" for="name" i18n="@@city*">City
              <span class="form-required">*</span>
            </label>
            <p-dropdown [options]="cities" i18n-placeholder="@@city" required [(ngModel)]="account.city" [filter]="true"
              name="City" placeholder="City" #city="ngModel" [ngClass]="{ 'is-invalid': f.submitted && city.invalid }">
            </p-dropdown>
            <div class="invalid-feedback" *ngIf="f.submitted && city.invalid">
              <div *ngIf="city.errors.required" i18n="@@requiredError">Required</div>

            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <label class="form-label" for="address" i18n="@@address*">Address
              <span class="form-required">*</span>
            </label>
            <input type="text" class="form-control" i18n-placeholder="@@address" [(ngModel)]="account.addressInfo"
              name="address" placeholder="Address" required #address="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && address.invalid }">
            <div class="invalid-feedback" *ngIf="f.submitted && address.invalid">
              <div *ngIf="address.errors.required" i18n="@@requiredError">Required</div>
            </div>
          </div>
        </div>
      </div>

      <p i18n="@@requiredFields"><span class="form-required">*</span> Required fields</p>
      <div class="form-group pt-4">
        <button type="submit" class="btn btn-primary" i18n="@@save">Save</button>
        <button type="button" class="btn btn-secondary ml-2" [routerLink]="['/my-account']"
          i18n="@@cancel">Cancel</button>
      </div>

    </form>
  </div>
</div>
