<div class="row mt-5">
  <div class="col col-login mx-auto mt-5">
    <div class="text-center mb-2">
      <h1 i18n="@@updatePassword">Update your password</h1>
      <p i18n="@@enterCredentials" class="lead">Enter your credentials and the new password.</p>
    </div>
    <h3></h3>
    <form name="form" #f="ngForm" class="card" (ngSubmit)="f.form.valid && onUpdate()" novalidate>
      <div class="card-body p-6">
        <div class="form-group">
          <label i18n="@@usernameLabel" for="name">Username</label>
          <input type="email" name="name" class="form-control" id="name" required email maxlength="45"
            i18n-placeholder="@@usernamePlaceholder" placeholder="Username" #u="ngModel" [(ngModel)]="userInfo.username"
            [ngClass]="{ 'is-invalid': f.submitted && u.invalid }">
          <div class="invalid-feedback" *ngIf="f.submitted && u.invalid">
            <div i18n="@@requiredError" *ngIf="u.errors.required"> Required</div>
            <div i18n="@@usernameFormatError" *ngIf="u.errors.email"> Username must be a valid email</div>
          </div>
        </div>
        <div class="form-group">
          <label i18n="@@currentPasswordLabel" for="password">Password </label>
          <input type="password" name="password" class="form-control" id="password" required maxlength="100"
            i18n-placeholder="@@passwordPlaceholder" placeholder="Password" #p="ngModel" [(ngModel)]="userInfo.password"
            [ngClass]="{ 'is-invalid': f.submitted && p.invalid  }">
          <div class="invalid-feedback" *ngIf="f.submitted && p.invalid">
            <div i18n="@@requiredError" *ngIf="p.errors.required"> Required</div>
          </div>
        </div>
        <div class="form-group">
          <label i18n="@@newPasswordLabel" for="password">New password </label>
          <input type="password" name="newpassword" class="form-control" id="newpassword" required
            i18n-placeholder="@@newpasswordPlaceholder" placeholder="New Password" #np="ngModel"
            [(ngModel)]="userInfo.newpassword" [ngClass]="{ 'is-invalid': f.submitted && np.invalid }">
          <div class="invalid-feedback" *ngIf="f.submitted && (np.invalid || matchingError)">
            <div i18n="@@requiredError" *ngIf="np.errors?.required"> Required</div>
            <div i18n="@@passwordError" *ngIf="matchingError">Password not match</div>
          </div>
        </div>
        <div class="form-group">
          <label i18n="@@confirmPasswordLabel" for="password">Confirm password </label>
          <input type="password" name="confirmpassword" class="form-control" id="confirmpassword" required
            i18n-placeholder="@@confirmpasswordPlaceholder" placeholder="Confirm password" #cnp="ngModel"
            [(ngModel)]="userInfo.newpassword2" [ngClass]="{ 'is-invalid': f.submitted && np.invalid }">
          <div class="invalid-feedback" *ngIf="f.submitted && (cnp.invalid|| matchingError)">
            <div i18n="@@requiredError" *ngIf="cnp.errors?.required"> Required</div>
            <div i18n="@@passwordError" *ngIf="matchingError">Password not match</div>
          </div>
        </div>
        <div class="form-footer">
          <button i18n="@@update" type="submit" class="btn btn-block btn-primary">
            Update
          </button>
        </div>

      </div>
    </form>

    <div class="text-center m-4">
      <a i18n="@@login" [routerLink]="['/login']">Login</a>
    </div>

    <div class="text-center text-muted">
      Copyright © 2019 Virginia Transformer Corp.
    </div>
  </div>
</div>
