  <div class="page-header">
    <h1 class="page-title">
      <a href="#" [routerLink]="['../../user-list']" class="mr-3">
        <i class="fa fa-chevron-left"></i>
      </a>
      <span i18n="@@user">User</span>
    </h1>
  </div>

  <div>
    <form *ngIf="user" name="form" #f="ngForm" (ngSubmit)="f.form.valid && save()" novalidate>
      <div class="row">

        <div class="col-md-4">
          <div class="form-group">
            <label class="form-label" for="name" i18n="@@name*">Name
              <span class="form-required" >*</span>
            </label>
            <input type="text" class="form-control" i18n-placeholder="@@name" 
              maxlength="45" [(ngModel)]="user.firstName" name="name"
              [attr.disabled]="adminPermissions ? null : ''" placeholder="Name" required #name="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && name.invalid }">
            <div class="invalid-feedback" *ngIf="f.submitted && name.invalid">
              <div *ngIf="name.errors.required" i18n="@@requiredError">Required</div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label class="form-label" for="lastName" i18n="@@lastName*">Last name
              <span class="form-required" >*</span>
            </label>
            <input type="text" class="form-control" i18n-placeholder="@@lastName" 
              maxlength="45" [(ngModel)]="user.lastName"
              [attr.disabled]="adminPermissions ? null : ''" name="lastName" placeholder="Last name" required
              #lastName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && lastName.invalid }">
            <div class="invalid-feedback" *ngIf="f.submitted && lastName.invalid">
              <div *ngIf="lastName.errors.required" i18n="@@requiredError">Required</div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label class="form-label" for="email" i18n="@@email*">Email
              <span class="form-required" >*</span>
            </label>
            <input type="text" class="form-control" i18n-placeholder="@@email" [(ngModel)]="user.username"
              [attr.disabled]="adminPermissions ? null : ''" [disabled]="action==='edit'" name="email"
              placeholder="Email" required maxlength="45"
              #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }">
            <div class="invalid-feedback" *ngIf="f.submitted && email.invalid">
              <div *ngIf="email.errors.required" i18n="@@requiredError">Required</div>
            </div>
          </div>
        </div>

      </div>

      <p i18n="@@requiredFields" ><span class="form-required">*</span> Required fields</p>
      <div class="form-group pt-4">
        <button type="submit" class="btn btn-primary" i18n="@@save" >Save</button>
        <button type="button" class="btn btn-secondary ml-2" 
          [routerLink]="['../../user-list']" i18n="@@cancel">Cancel</button>
      </div>

    </form>
  </div>
