<div class="page-header">
  <h1 class="page-title" i18n="@@site">Sites</h1>
  <div class="page-options d-flex">
    <div class="input-icon">
      <span class="input-icon-addon">
        <i class="fe fe-search"></i>
      </span>
      <input type="text" class="form-control w-10" (keyup)="onFilter()" i18n-placeholder="@@searchPlaceholder"
        placeholder="Search..." [(ngModel)]="filter">
    </div>
    <button type="button" name="button" class="btn btn-secondary ml-2" [routerLink]="['../site/create']"
       i18n="@@add">Add</button>
  </div>
</div>

<div class="card">
  <div class="table-responsive">
    <div class="row">

      <div class="col-sm-12">
        <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
          <thead>
            <tr>
              <th i18n="@@name">Name</th>
              <th i18n="@@country">Country</th>
              <th i18n="@@state">State</th>
              <th i18n="@@city">City</th>
              <th i18n="@@address">Address</th>
              <th style="width:50px" ></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let site of sites">
              <td [routerLink]="['../site/', site.id]">
                {{ site.name }}
              </td>
              <td [routerLink]="['../site/', site.id]">
                {{ site.country }}
              </td>
              <td [routerLink]="['../site/', site.id]">
                {{ site.state }}
              </td>
              <td [routerLink]="['../site/', site.id]">
                {{ site.city }}
              </td>
              <td [routerLink]="['../site/', site.id]">
                {{ site.address }}
              </td>
              <td>
                <a (click)="onDeleteDialog(site)"  class="btn btn-sm btn-danger float-right"
                  href="javascript:void(0)"><i class="fa fa-trash"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<p-dialog header="Delete site" i18n-header="@@delete" [(visible)]="display" [modal]="true" *ngIf="site"
  [responsive]="true" [style]="{width: '350px', minWidth: '200px'}" [minY]="70" [closable]="false" [baseZIndex]="10000">

  <div class="" i18n>
    Are you sure you want to delete the site
    <strong>{{ site.name }}</strong> permanently?
    <p class="mt-2"><strong>This can't be undone</strong></p>
  </div>
  <div class="pt-5">
    <p i18n>Type the name to continue</p>
    <input class="form-control mt-1" type="text" [(ngModel)]="confirm" name="confirm">
  </div>

  <p-footer>
    <button type="button" class="btn btn-secondary mr-2" (click)="display=false" i18n="@@cancel"> Cancel </button>
    <button type="button" class="btn btn-danger" (click)="delete(site.id)"
      [disabled]="confirm?.trim() !== site.name?.trim()" i18n="@@delete"> Delete </button>
  </p-footer>
</p-dialog>
